body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-body {
    margin-top: 20px;
    padding: 10px;
    height: 800px;
    width: 600px;
    border-radius: 15px;

    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calc-display {
    background-color: white;

    width: 550px;
    height: 100px;
    border-radius: 15px;

}

#btn-container {
    margin-top: 50px;
    margin-left: 40px;

    width: 550px;
    height: 500px;
     
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    height: 80px;
    width: 120px;
    border-radius: 15px;

    font-family: monospace;
    font-size: 15px;
}

.button:hover {
    background-color: lightblue;
}

.number {
    background-color: white;
}

.function {
    background-color: yellow;
}